
  
  div {

      padding: 25px 50px 75px 100px;
      padding-top: 25px;
      padding-right: 50px;
      padding-bottom: 75px;
      padding-left: 100px;
      width: 80%;
      border-radius: 10%;
      background-color: transparent;
      height: 200px;
      border: 1px solid black;
      overflow: auto;

  }
  Float, clear y overflow

  p {
    background: red url("cerezas.png") no-repeat fixed center;
    font-size: 16px;
    
  }


  a {
    font-size: 120%;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset 5em 1em gold; */
    box-shadow:
    3px 3px red,
    -1em 0 0.4em black; */

    /* box-shadow:  10px 5px 5px black;  */
    /* comand / o comand shift a */

  }

  .a{
    border-radius: 1px;
    background-color: aquamarine;
  }

  #boton1{
    border-radius: 5px;
    background-color: blue;
  }
  #boton2{
    border-radius: 50%;
    background-color: orange;
  }
  #boton3{
    border-radius: 0;
    background-color: blue;

    
  }